# IntelliJ IDEA / Android Studio
*.iml
.idea/
.DS_Store

# Gradle
.gradle/
local.properties

# Build and output folders
/build/
.cxx/
.externalNativeBuild/
captures/

# Google services
app/google-services.json
